.features-block-2 {
    min-height: 511px;
    background-color: #00BAF2;
    padding: 80px 0;

    &__content {
        display: flex;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        max-width: 312px;
        flex-wrap: wrap;
        &:first-child {
            margin-bottom: 71px;
        }
    }

    &__pod {
        margin-left: 80px;
    }

    &__text {
        margin-left: 16px;
        max-width: 220px;
        h3 {
            font-weight: bold;
            font-size: 15px;
            line-height: 22px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 8px;
        }

        p {
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }
}