.features-block-3 {
    padding: 70px 0 60px;
    margin: 0 auto;

    @media (max-width: 576px) {
        padding: 40px 0;
    }

    &__content {
        max-width: 762px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin-bottom: 40px;
            text-align: center;
        }
    }

    &__button {
        display: block;
        margin-top: 32px;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: $accent-color;
        &:hover {
            color: $accent-text;
        }

    }
}