.footer {
    z-index: 1;
    position: relative;
    min-height: 511px;
    background-color: #004B83;
    background-image: url(../img/Logo_bg.svg);
    background-repeat: no-repeat, repeat;
    background-position: bottom -310px right -147px;
    padding: 49px 0 32px;

    @media (max-width: 576px) {
        padding: 60px 0 44px;
    }

    &__logos {
        display: flex;
        justify-content: space-between;

        @media (max-width: 576px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__logo {
        cursor: pointer;
        width: 150.98px;
        height: 41.42px;

        @media (max-width: 576px) {
            margin-bottom: 40px;
        }
    }

    &__sertificates {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 60px;

        @media (max-width: 576px) {
            margin-bottom: 96px;
        }
    }

    &__sertificate-1 {
        height: 50px;
        margin-right: 32px;

        @media (max-width: 576px) {
            height: 65px;
            margin-right: 20px;
        }
    }
    &__sertificate-2 {
        height: 41px;
        margin-right: 32px;

        @media (max-width: 576px) {
            height: 55px;
            margin-right: 20px;
        }
    }
    &__sertificate-3 {
        height: 42px;

        @media (max-width: 576px) {
            height: 55px;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }

        @media (max-width: 576px) {
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
    &__menu-block {
        &-title {
            font-weight: bold;
            font-size: 15px;
            line-height: 22px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 22px;
        }
        li {
            margin-bottom: 22px;
        }
        a {
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            color: #FFFFFF;
        }
        
        @media (max-width: 992px) {
            margin-right: 10px;
        }

        @media (max-width: 576px) {
            margin-bottom: 40px;
        }
    }

    &::before {
        position: absolute;
        content: "";
        border-bottom: 1px solid rgba(255, 255, 255, 0.17);
        top: 130px;
        width: 100%;

        @media (max-width: 576px) {
            top: 255px;
        }
    }

    &::after {
        position: absolute;
        content: "";
        border-bottom: 1px solid rgba(255, 255, 255, 0.17);
        bottom: 95px;
        width: 100%;

        @media (max-width: 576px) {
            bottom: 180px;
        }
    }
}

.social {
    h4 {
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 22px;      
    }
    &__items {
        margin-top: 80px;
        display: flex;

        @media (max-width: 992px) {
            margin-top: 30px;
        }

        li {
            margin-right: 40px;
        }
    }
    &__form {
        display: flex;
        input {
            font-family: Montserrat;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            color: $accent-text;
            padding-left: 14px;
            padding-right: 95px;
            background: #FFFFFF;
            border-radius: 43px;
            height: 50px;
            border: solid white;
            max-width: 334px;
            outline: none;
            &::placeholder {
                color: #306D9A;
                opacity: 0.6;
            }

            @media (max-width: 576px) {
                max-width: 100%; 
            }
        }
        button {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
            background: #00BAF2;
            margin-left: -79px;
            width: 81px;
            border-top-right-radius: 43px;
            border-bottom-right-radius: 43px;
            &:hover {
                background: #028bb4;
            }

            @media (max-width: 576px) {
                margin-left: -75px;
            }
        }
    }
}

.footer__rights {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;

    @media (max-width: 576px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #FFFFFF;
    }
    
    &-drop {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 576px) {
            margin-top: 32px;
        }
        &-img {
            margin-left: 10px;
            height: 15.58px;
        }
    }

    &-br {
        display: none;   
    }

    span {
        @media (max-width: 576px) {
            text-align: center;
        }
    }
}