@import "variables";

.header {
	&__title {
		height: 41px;
		background-color: $accent-color;
		h3 {
			text-align: center;
			color: #fff;
			font-weight: 500;
			font-size: 15px;
			line-height: 22px;
			padding: 10px 0;
		}
	}
}

.menu {
	height: 78px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		li {
			margin-right: 24px;
			&:last-child {
				margin-right: 0;
			}
		}
		a {
			color: $accent-color;
			font-weight: 500;
			font-size: 15px;
			line-height: 22px;
			&:hover {
				color: $accent-text;
			}
		}
	}
}

.menu-mobile {
	display: none;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 376px) {
	.header {
		&__title {
			z-index: 150;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: 64px;
		}
	}

	.menu {
		display: none;	
	}

	.menu-mobile {
		padding: 0 16px;
		z-index: 150;
		position: fixed;
		top: 41px;
		left: 0;
		right: 0;
		height: 64px;
		background: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: 1px 4px 16px 5px rgba(0, 0, 0, 0.08);

		&__icon-burger {
			cursor: pointer;
			&_opened {
				cursor: pointer;
			}
		}

		&__show {
			z-index: 100;
			top: 95px;
			bottom: 0;
			right: 0;
			position: fixed;
			background-color: #fff;
			pointer-events: none;
			padding-top: 80px;	
			overflow-y: auto;
			width: 100%;
			// box-shadow: inset 0px 10px rgba(0, 0, 0, 0.08);
		}

		&__show-items {
			display: flex;
			flex-direction: column;
			align-items: center;
			li {
				margin-bottom: 32px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			a {
				font-weight: bold;
				font-size: 20px;
				line-height: 28px;
				color: $accent-color;
			}

		}

		&__items {
			display: flex;
			li {
				&:first-child {
					margin-right: 18px;
				}
			}
		}
	}
}