@media (max-width: 1024px) {
	.container {
	width: $mainWidthLarge;
	}
	h1 {
        font-size: 52px;
    }
}

@media (max-width: 768px) {
	.container {
	width: $mainWidthMiddle;
	}
	h1 {font-size: 42px;}
	h2 {font-size: 32px;}
}

@media (max-width: 376px) {
	.container {
	  width: $mainWidthSmall;
	}

	body {
		margin-top: 95px;
	}
}