.perfect {
    min-height: 691px;
    padding: 107px 0 97px 0;
   
    &__content {
        display: flex;
    }

    &__content-left {
        max-width: 494px;
        margin-right: 60px;
        h2 {
            margin-bottom: 52px;
        }
    }

    &__conditions {
        h5 {
            color: $accent-text;
            font-weight: 600;
            font-size: 15px;
            line-height: 22px;
            border-bottom: 1px solid #EAEAEA;
            padding-bottom: 15px;
            margin-bottom: 15px;
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 60px;
            }
        }
    }
}

