.promo {
    padding: 210px 0;
    width: 100%;
    position: relative;

    @media (max-width: 992px) {
        padding: 95px 0;
    }

    &__background {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        top: 0;
    }

    &__content {
        max-width: 655px;
        color: #fff;

        h1 {
            line-height: 70px;
            margin-bottom: 16px;

            @media (max-width: 992px) {
                line-height: 57px;
                margin-bottom: 16px;
            }

            @media (max-width: 576px) {
                text-align: center;
                line-height: 57px;
            }
        }

        &-descr {
            max-width: 605px;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 46px;

            @media (max-width: 992px) {
                font-size: 17px;
                line-height: 25px;
                margin-bottom: 25px;
            }

            @media (max-width: 576px) {
                text-align: center;
            }
        }
    }
}

.button {
    display: inline-block;
    position: relative;
    padding: 17px 12px;
    min-width: 270px;
    background: $accent-color;
    border-radius: 42px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.16699 10H15.8337' stroke='white' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 4.1665L15.8333 9.99984L10 15.8332' stroke='white' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
        top: 21px;
        right: 21px;
    }
    &:hover {
        background: $accent-text;
        transition: ease-in-out 0.3;
    }

    @media (max-width: 576px) {
        min-width: 100%;
    }
}

.logos-wrapper {
    padding: 44px 0;
    position: relative;
    background-color: $accent-text;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media (max-width: 992px) {
        display: none;       
    }
}