* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

li {
	list-style: none;
}

a {
	font-size: inherit;
}